<h1>Agregar Pin</h1>

<%= form_for @pin do |f| %>
	<%= f.text_field :titulo, placeholder: "titulo" %> <br>
	<%= f.text_field :descripcion, placeholder: "descripcion"%> <br>
	<%= f.submit %>
<% end %>
