/*Elementos*/
body{
	margin: 0;
	border: 0;
	padding: 0;
}

.jumbotron{
	background-color: darkorange;
}

.base{
	margin-top: 0.5rem
}
/*Clases*/
.container{
	margin: 0 auto;
	background-color: aquamarine;
	border: 0.2rem solid black;
	display: table;
	padding: 2rem 3rem;
	width: 50%
}

.micontainer{
	margin: 0 auto;
	background-color: aquamarine;
	border: 0.2rem solid black;
}

.row{
	display: table-row
	content: none;
	clear: both;
}

.col{
	border: 0.2rem solid red;
	float: left;
	width: 23.5%;
	margin: 0.1em
}

#col1{
	background-color: coral;
}
#col2{
	background-color: lightgray;
}
#col3{
	background-color: violet;
}
#col4{
	background-color: darkgreen;
}
.titulo h1, h2{ /*Esto setea al h1 dentro de titulo*/
	font-family: cursive;
	color: yellow;
}